.parent_container {
  display: flex;
  background-color: red;
  justify-content: space-between;
}

.links {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
.link {
  margin: 20px;
}

.image {
  margin: 20px;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 70px;
}

.link>div:hover {
color: yellow;
cursor: pointer;
}
