.parentContainer {
  border: 1px solid rgb(116, 76, 76);
  border-radius: 10px;
  box-shadow: 10px 10px 10px 0 rgba(181, 139, 139, 0.4);

  padding: 3%;
  width: 40em;
  /* Combine with .container */
}

.sectionContanier {
  display: grid;
  grid-template-columns: 50% 50%;
}

.formContanier {
  display: flex;
  width: 100%;

  flex-direction: column;
}

.formContanier>* {
  padding: 0.4em 0.3em;
}

label {
  margin-left: 3%;
  display: flex;
  flex-direction: row;
}

.formContanier input {
  margin-left: 3%;
  width: 80%;
  /* Adjust for select if needed */
}

select {
  margin-left: 3%;
  width: 84%;
}

button {
  margin: 5%;
  box-shadow: 3px 3px 3px 1px rgba(60, 56, 56, 0.4);
  outline: none;
  width: 30%;
}

.imageSection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

img {
  height: 70%;
  width: 70%;
}