body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #00c6ff, #0072ff);
  color: #333;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.App-header {
  font-size: 2.5em;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.next-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: #ff7e5f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.next-button:hover {
  background-color: #feb47b;
}

.navbar {
  background-color: #0072ff;
  padding: 10px 0;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #ff7e5f;
}

.home-content {
  padding: 20px;
}
