.parent_header_container{
    display: flex;
    background-color: aquamarine;
    justify-content: space-between;
}
.navLinks{
    display: flex;
    align-items: center;
}
.navLinks > a{
    margin: 30px;
    /* padding: 50px; */
    text-decoration: none;
}

.activeTabs{
    font-size: 30px;
    color: red;
    /* background-color: #000; */

}
.nonActiveTabs{
    color: gold;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center; 
}
 button{
    margin: 20px;     
    padding: 10px;
}